@model SonataCinemaV2.ViewModel.UserLogin


<div class="login-page-container-partial">
    <div class="login-form-content-partial">
        <h2 class="text-center-partial">Đăng Nhập</h2>

        @using (Html.BeginForm("DangNhap", "Account", FormMethod.Post, new { @id = "loginForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("ReturnUrl", (string)ViewBag.ReturnUrl)



            <div class="custom-form-group-partial">
                <label for="Email" class="custom-control-label-partial"></label>
                <input type="text" name="Email" class="custom-form-control-partial" placeholder="Nhập Email" value="@Model.Email" />
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="custom-form-group-partial">
                <label for="Password" class="custom-control-label-partial"></label>
                <input type="password" name="Password" class="custom-form-control-partial" placeholder="Nhập mật khẩu" />
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="custom-form-group-partial text-center-partial">
                <button type="submit" class="custom-btn button-62">Đăng Nhập</button>
            </div>

            <div class="text-center-partial">
                <a href="/Account/ForgotPassword" class="custom-link">Quên mật khẩu?</a>
            </div>


        }
    </div>
</div>



